# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
libs
assets_ori
logo.psd
logo.png

# Files from Forge MDK
forge*changelog.txt
